<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".VesperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vesper Ledger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VesperLedger">
        
        <receiver
            android:name=".data.notification.NotificationActionReceiver"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VesperLedger" />

        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityFlux"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_flux"
            android:roundIcon="@mipmap/ic_launcher_flux_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityMaterial"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_material"
            android:roundIcon="@mipmap/ic_launcher_material_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityGlass"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_glass"
            android:roundIcon="@mipmap/ic_launcher_glass_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityCoin"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_coin"
            android:roundIcon="@mipmap/ic_launcher_coin_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAnalytics"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_analytics"
            android:roundIcon="@mipmap/ic_launcher_analytics_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityVault"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_vault"
            android:roundIcon="@mipmap/ic_launcher_vault_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLedger"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_ledger"
            android:roundIcon="@mipmap/ic_launcher_ledger_round"
            android:label="Vesper Ledger"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
